$page-padding: 60px;
$page-margin: 58px auto 0;
$page-row-margin: 0 auto 0;
$page-max-width: 1600px;
$page-left-padding: 20px 0 15px 25px;
$row-search-base-padding:0 0 15px 0;
$filter-container-width: 252px;
$products-container-width: 1304px;
$page-section-border:1px solid #e9e9ed;
$header-height: 80px;

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
